#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  border-top: 5px solid #3498db;
  border-radius: 10px;
  background: var(--t-bg);
  box-shadow: 0 0 5px 1px rgba(44, 62, 80, 0.2);
}

h1 {
  margin: 15px;
  padding: 5px;
  font-size: 18px;
  color: #e67e22;
}

p {
  margin: 15px;
  padding: 5px;
  border-bottom: 2px solid var(--t-bg);
  color: var(--t-text);
  transition: border-bottom 0.3s;
}

p:hover {
  border-bottom: 2px solid #3498db;
}

form input {
  padding: 10px 20px;
  background: var(--t-bg);
  border: 2px solid var(--t-text);
  border-radius: 10px;
  outline: none;
  font-family: 'Source Han Sans SC VF', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-align: center;
  color: var(--t-text);
  transition: all 0.3s;
}

form input[type='text']:focus {
  border: 2px solid #3498db;
}

form input[type='submit'] {
  cursor: pointer;
}

form input:hover {
  border: 2px solid #3498db;
}

.success,
.success:hover {
  border-bottom: 2px solid #27ae60;
  color: #27ae60;
}

.error,
.error:hover {
  border-bottom: 2px solid #e74c3c;
  color: #e74c3c;
}
