#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  border-top: 5px solid cornflowerblue;
  background: #fff;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
}

p {
  margin: 15px;
  padding: 5px;
  border-bottom: 2px solid white;
  transition: border-bottom 0.3s;
}

p:hover {
  border-bottom: 2px solid cornflowerblue;
}

form input {
  background: none;
  outline: none;
  border: 2px solid #333;
  padding: 10px 20px;
  border-radius: 0;
  background-color: #fff;
  font-family: 'Noto Sans SC', Inter, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  text-align: center;
  color: #333;
  transition: all 0.3s;
}

form input[type='text']:focus {
  border: 2px solid cornflowerblue;
}

form input[type='submit'] {
  cursor: pointer;
}

form input:hover {
  border: 2px solid cornflowerblue;
}

.success,
.success:hover {
  border-bottom: 2px solid green;
  color: green;
}

.error,
.error:hover {
  border-bottom: 2px solid red;
  color: red;
}
