:root {
  --light-color: #2c3e50;
  --light-background: #ecf0f1;

  --dark-color: #2c3e50;
  --dark-background: #2c3e50;
}

:root {
  --color: var(--light-color);
  --background: var(--light-background);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color: var(--dark-color);
    --background: var(--dark-background);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
  font-weight: normal;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-appearance: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: var(--background);
  'Noto Sans SC', 'Helvetica Neue', Helvetica, Arial, sans-serif
  color: var(--color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
